.nav {
  background-color: #f4f9e2;
  height: 80px;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: $color-blue;
    @include font;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    z-index: 2;
  }

  &__menu-item {
    @include font;
    font-size: 14px;
    color: $text-color;
    cursor: pointer;
  }

  &__menu-item:hover {
    font-weight: bold;
    transform: scale(1.05);
  }

  &__menu-item a {
    text-decoration: none;
  }

  &__vert-line {
    position: absolute;
    transform: rotate(-90deg);
    @include font;
    font-size: 14px;
    color: #687480;
    left: 40px;
    bottom: 85px;

    & a {
      text-decoration: none;
      color: #687480;
    }
  }

  &__menu-item a:visited {
    color: $text-color;
  }

  &__menu-item a:active {
    color: $text-color;
  }

  #menuToggle {
    display: none;
    position: absolute;
    top: 30px;
    left: 128px;
    z-index: 4;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: $text-color;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    font-weight: bold;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $color-blue;
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $color-blue;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: auto;
    margin: -81px 0 0 -126px;
    padding: 100px;
    padding-top: 125px;
    text-align: center;
    box-sizing: border-box;
    background: rgba(237, 237, 237, 0.6);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
    z-index: 3;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  &__contact {
    width: 150px;
    height: 50px;
    background: $color-blue;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    @include font;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
  }

  &__contact:hover {
    background: #fff;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}
